<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.designvalue.medihand">

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

	<application
		android:name="com.designvalue.medihand.GlobalApplication"
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme"
		android:usesCleartextTraffic="true">

		<meta-data
			android:name="com.kakao.sdk.AppKey"
			android:value="@string/kakao_app_key" />

		<activity android:name="com.designvalue.medihand.MypageMyprofileActivity" />
		<activity android:name="com.designvalue.medihand.MainActivity" />
		<activity android:name="com.designvalue.medihand.AddAlarmActivity" />
		<activity android:name="com.designvalue.medihand.EditAlarmActivity" />
		<activity android:name="com.designvalue.medihand.MedicineDetailActivity" />
		<activity android:name="com.designvalue.medihand.MypageActivity" />
		<activity
			android:name="com.designvalue.medihand.MyAlertPopup"
			android:theme="@style/PopupTheme" />
		<activity
			android:name="com.designvalue.medihand.AddLabelPopup"
			android:theme="@style/PopupTheme" />
		<activity
			android:name="com.designvalue.medihand.MainItemPopup"
			android:theme="@style/PopupTheme" />
		<activity android:name="com.designvalue.medihand.MypageNoticeActivity" />
		<activity android:name="com.designvalue.medihand.MypageNoticeDetailActivity" />
		<activity android:name="com.designvalue.medihand.MypageSyncActivity" />
		<activity android:name="com.designvalue.medihand.MypageHistoryActivity" />
		<activity android:name="com.designvalue.medihand.MypageHistoryPhotoDetailActivity" />
		<activity android:name="com.designvalue.medihand.MypageSettingActivity" />
		<activity android:name="com.designvalue.medihand.MypageLeavingActivity" />
		<activity android:name="com.designvalue.medihand.MypageServiceActivity" />
		<activity android:name="com.designvalue.medihand.MypageServiceContractActivity" />
		<activity android:name="com.designvalue.medihand.MypageServiceEnquireActivity" />
		<activity android:name="com.designvalue.medihand.LoginActivity" />
		<activity android:name="com.designvalue.medihand.JoinActivity" />
		<activity android:name="com.designvalue.medihand.PermissionActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="com.designvalue.medihand.ContractActivity" />
		<activity android:name="com.designvalue.medihand.MainListCalendarActivity" />
		<activity android:name="com.designvalue.medihand.LoadingActivity" />
		<activity android:name="com.designvalue.medihand.MypageLabelActivity" />
		<activity
			android:name="com.designvalue.medihand.EditLabelPopup"
			android:theme="@style/PopupTheme" />
		<activity
			android:name="com.designvalue.medihand.MypageSyncManagerPopup"
			android:theme="@style/PopupTheme" />
		<activity
			android:name="com.designvalue.medihand.MypageSyncCrewPopup"
			android:theme="@style/PopupTheme" />
		<activity android:name="com.designvalue.medihand.AuthWebActivity" />
		<activity android:name=".MypageHelpActivity" />

		<receiver android:name="com.designvalue.medihand.AlarmReceiver" >
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>
		<service android:name="com.designvalue.medihand.AlarmService" />
	</application>
</manifest>